{% extends "layout.html" %}
{% block content %}
<div class="content-card">
    <div class="title">    
        <img src="{{ url_for('static', filename='images/hali2.png') }}" alt="Description of Image" class="halipng1">
        <div class="title-text">
            <div class="title-h">  
                <h1>Tyrese</h1>
                <h1>Haliburton</h1>
                <h2>0</h2>
                <h4>6'5" 185 lbs</h2>
            </div>  
            <div class="intro">
                <p>Tyrese Haliburton is a menace to the basketball world, the 6-5 185 guard out of Oshkosh, Wisconsin is the right amounts of a slick con artist as he is an assassin. Drafted after the likes of James Wiseman, Killian Hayes, and Jalen Smith at 12 in the 2020 draft to the Sacramento Kings. Tyrese has amassed the most Win shares of his draft. Now winshares alone wont get you into the hall but it is a good indicator at how productive this man is at such a young age. 
                </p>
            </div>
        </div>    
    </div>
    <div class="basestat">
        <span>
            <h1>23.6</h1>
            <h1>PTS/G</h1>
        </span>
        <span>
            <h1>4.1</h1>
            <h1>REB/G</h1>
        </span>
        <span class="crown">
            <i class="fas fa-crown"></i>
            <h1>12.6</h1>
            <h1>AST/G</h1>
        </span>
        <span>
            <h1>1.1</h1>
            <h1>STL/G</h1>
        </span>
        <span>
            <h1>0.6</h1>
            <h1>BLK/G</h1>
        </span>
        <span>
            <h1>49.6</h1>
            <h1>FG%</h1>
        </span>
        <span>
            <h1>40%</h1>
            <h1>3P%</h1>
        </span>
    </div> 

    <div class="assistintro">    
        <div class="assist-text">
            <div class="intro">
                <p>Tyrese Haliburton is a menace to the basketball world, the 6-5 185 guard out of Oshkosh, Wisconsin is the right amounts of a slick con artist as he is an assassin. Drafted after the likes of James Wiseman, Killian Hayes, and Jalen Smith at 12 in the 2020 draft to the Sacramento Kings. Tyrese has amassed the most Win shares of his draft. Now winshares alone wont get you into the hall but it is a good indicator at how productive this man is at such a young age. 
                </p>
            </div>
        </div>    
    <div class="assistbox">
        <div id="plot-container">
            {{ plot_html|safe }}
        </div>
    </div>
    <div class="assistbox">
        <div id="plot-container">
            {{ plot_html2|safe }}
        </div>
    </div>

</div>
{% endblock %}
